.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}
.title {
    margin: 0;
    font-size: 96px;
    line-height: 120px;
    color: #050038;
    text-align: center;
    @media screen and (max-width: 992px) {
        font-size: 42px;
        line-height: normal;
    }
}
.info {
    color: #5B5E6D;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    max-width: 700px;
}
.btn {
    @media screen and (max-width: 992px) {
        display: flex;
        gap: 20px;
        padding: 20px;
    }
}
.video {
    padding: 10px 30px;
    background: #fff;
    border: 0;
    cursor: pointer;
    color: blue;
    border-radius: 20px;
    box-shadow: 0px 10px 40px 0px rgba(176, 201, 253, 0.30);
    transition: .2s linear;
    &:hover {
        box-shadow: #d1d1d1 0 0px 0px 40px inset;
    }
}
.image {
    max-width: 992px;
    @media screen and (max-width: 992px) {
        width: 100%;
    }
}
.sponsors {
    width: 100%;
}
.sponsors__info {
    display: flex;
    justify-content: center;
    color: #5B5E6D;
    font-size: 1rem;
    overflow-x: auto;
}
.sponsors__icon {
    display: flex;
    justify-content: start;
    gap: 50px;
    overflow-x: auto;
    padding-top: 20px;
}
.slider {
    display: flex;
    justify-content: center;
    padding: 20px 0 65px;
    @media screen and (max-width: 992px) {
        padding: 15px 0;
    }
}
