.review {
    background: #F8F8FA;
    padding: 150px 0;
    @media screen and (max-width: 992px) {
        padding: 40px 10px;
    }
}
.review__info {
    color: #5B5E6D;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.review__title {
    color: #050038;
    text-align: center;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 100px;
    @media screen and (max-width: 992px) {
        
        margin: 0;
        font-size: 32px;
        padding: 20px 0 30px;
    }
}
.review__users {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    @media screen and (max-width: 992px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 700px) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
.user {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    padding: 5px 10px;
}
.user__header {
    display: flex;
    gap: 10px;
}
.user__login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.user__web {
    margin-left: auto;
}